<div id="about" class="flex flex-col content-center p-2">
  <!-- TODO: performance improvement (LCP element p) -->
  @if (!summary) {
    <div class="summary-container main-text-color main-bg-color">
      <p>Loading summary...</p>
      <div class="mb-2 text-md font-bold">Soft skills:</div>
      <p>Loading soft skills...</p>
    </div>
  }
  @if (summary) {
    <div class="summary-container main-text-color main-bg-color">
      <p>{{ summary.description }}</p>
      <div class="mb-2 text-md font-bold">Soft skills:</div>
      <p>{{ summary.softSkills }}</p>
    </div>
  }
</div>
