@if(isMobile | async; as isMobile) {
<div class="footer">
  <div class="social-icons mx-2">
    <a
      href="https://github.com/AnnaKolesnikova"
      target="_blank"
      class="icon-link"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://linkedin.com/in/anna-ilinchik-18a574b6/"
      target="_blank"
      class="icon-link"
    >
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <div class="copyright p-2">© 2025</div>
</div>

} @else {
<div class="copyright p-2">© 2025</div>
}
